#cards {
	columns: 2;
}

.card {
	display: table;
	margin: 0;
	margin-bottom: 2em;
	width: 50%;
	float: left;
}

.card > div {
	display: table-row;
}

.card > div > div {
	display: table-cell;
	padding: 0.1em;
}

.card > div > div:first-child {
	width: 0;
}