<!DOCTYPE html>
<html>
<head>
	<title>Symbiosis Example</title>
	<link rel="stylesheet" type="text/css" href="/res/main.css">
	<script type="text/javascript" src="/res/main.js"></script>
	<script type="text/javascript" src="/res/templates.js"></script>
</head>
<body>
<div id="cards">
{{ cards }}
</div>
<div>
	<button onclick="load_more()">Load more...</button>
</div>
<div id="more_info_bg" style="{{ if(not(more_info)) }}display: none;{{ end }}" onclick="hide_info(true);">
	<div id="more_info">{{ if(more_info) }}{{ more_info }}{{ end }}</div>
</div>
</body>
</html>